include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php	

.section-header  
	img(src="images/valutazioni-aziendali.jpg")

br
br
  
#content.row
	.three.columns
		include includes/servizi-nav
	.nine.columns
		h2 Valutazioni Aziendali
		ul
			li Valutazione e certificazione dell’Embedded Value  e dell’Appraisal Value per le Compagnie di Assicurazioni Vita
			li Valutazione al Fair Value di singoli contratti e dell’intero portafoglio assicurativo
			li Valutazione e certificazione del valore economico di Compagnie di Assicurazioni Danni

		

include includes/footer.php
include includes/tail.php