include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php	
  
img(src="images/autorizzazione-esercizio-attivita-assicurativa.jpg")

br
br
  
#content.row
	.three.columns
		include includes/servizi-nav
	.nine.columns
		h2 Autorizzazione all’esercizio dell’attività assicurativa
		p Per le imprese che richiedano di poter operare nel mercato italiano, la consulenza offerta riguarda la redazione e la sottoscrizione da parte dell’attuario della relazione tecnica sulle tariffe. nonché della relazione sul programma di attività da presentare all’ISVAP, previo controllo dei criteri in base ai quali sono state effettuate le previsioni relative ai ricavi ed ai costi.
		p L’ACS è in grado di fornire un servizio altamente qualificato agli imprenditori che intendano investire in operazioni di start – up di Compagnie Assicurative a livello europeo.

		

include includes/footer.php
include includes/tail.php