include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php	
  
img(src="images/ias-ifrs.jpg")

br
br
  
#content.row
	.three.columns
		include includes/servizi-nav
	.nine.columns
		h2 Consulenza e Valutazione IAS/IFRS
		p Predisposizione dei bilanci IAS-IFRS, con assistenza nell’impostazione della fase di transizione, nella formazione e con perizie indipendenti:
		div(style="padding-left:4em;")
			ul
				li IAS 19 - Valutazione e certificazione attuariale del TFR e degli altri Employee Benefits
				li IAS 37 – Valutazione Fondo d’Indennità
				li IFRS 2 – Valutazione e certificazione attuariale di Piani di Stock Options
				li IAS 39 – Valutazione al Fair Value di portafogli assicurativi e prodotti finanziari
				li IFRS 7 - Test d’Impairment su immobilizzazioni
				li IAS 17 – Valutazione contratti di Leasing
				li IFRS 4 – Valutazione di contratti assicurativi

		

include includes/footer.php
include includes/tail.php