include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php	

#slideshow.section-header
	img(src="images/conoscenza.jpg")
	img(src="images/intelligenza.jpg")
	img(src="images/integrazione.jpg")
	img(src="images/soluzioni.jpg")


include includes/footer.php
include includes/tail.php