include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php	

#slideshow.section-header
	img(src="http://placehold.it/1280x600&text=slide1")
	img(src="http://placehold.it/1280x600&text=slide2")
	img(src="http://placehold.it/1280x600&text=slide3")
	img(src="http://placehold.it/1280x600&text=slide4")

br
br
  
#content.row
	.twelve.columns
		h1 Title
		p
			for i in [1,2,3,4,5]
				span "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vitae culpa sit nobis alias inventore perferendis id voluptatibus labore modi dignissimos deleniti est asperiores consectetur eveniet veniam architecto et porro."
  

include includes/footer.php
include includes/tail.php