include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php	
  
img(src="http://placehold.it/2560x600&text=Header")

br
br
  
#content.row
	.three.columns
		include includes/servizi-nav
	.nine.columns
		h1 Pricing & Profit Testing
		p Attività di pricing rivolta alla formulazione e redazione di idonee tariffe, articolate in base alle diverse esigenze manifestate dal Cliente ed in linea con la normativa in vigore, con particolare riferimento al ramo RCAuto, nonché analisi della redditività dei prodotti proposti.

		

include includes/footer.php
include includes/tail.php