include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php	
  
img(src="images/riserve-tecniche.jpg")

br
br
  
#content.row
	.three.columns
		include includes/servizi-nav
	.nine.columns
		h2 Riserve Tecniche
		ul
			li Studio ed analisi del processo di riservazione dei sinistri al fine di individuare le strategie ottimali mediante un capillare monitoraggio       dell’area premi e dell’area sinistri
			li Supporto amministrativo al processo di gestione dei sinistri
			li Anali statistica dei principali indicatori della sinistralità
			li Valutazione attuariale delle Riserve effettuata attraverso metodi riconosciuti a livello internazionale

		

include includes/footer.php
include includes/tail.php