include includes/header.php
include mixins/meta-tags
mixin meta-tags("Actuarial Consulting Services - Risk Management")
include includes/nav.php	

.section-header  
	img(src="images/risk-management.jpg")

br
br
  
#content.row
	.three.columns
		include includes/servizi-nav
	.nine.columns
		h2 Risk Management
		p Gestione in outsourcing o come supporto di consulenza per la funzione di Risk Management, nell’ambito di Solvency II:
		div(style="padding-left:4em;")
			ul
				li analisi e valutazione dei rischi
				li implementazione ed applicazione del modello standard e/o di quello interno
				li individuazione dell’Solvency Capital Requirement e dell’Minimum Capital Requirement
				li Asset Liability Management (ALM)

		

include includes/footer.php
include includes/tail.php