include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php	
  
img(src="http://placehold.it/2560x600&text=Header")

br
br
  
#content.row
	.three.columns
		include includes/servizi-nav
	.nine.columns
		h2 Riassicurazione
		ul
			li Analisi del trasferimento dei rischi assunti
			li Supporto decisionale per la definizione del piano riassicurativo ottimale, anche in considerazione dell’impatto sul Solvency Capital Requirement
			li Assistenza nei rapporti con i riassicuratori e la relativa gestione dei contratti
			li Impostazione di tools personalizzati di quotazione di trattati XL e Q/S
			li Valutazione di Trattati non Tradizionali (Adverse Development Cover, Loss Portfolio Transfer, etc)
			li Valutazione analitica dei crediti vs riassicuratori e studio di eventuali Run Off

		

include includes/footer.php
include includes/tail.php