include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php	

.section-header  
	img(src="images/studio-attuariale.jpg")

br
br
  
#content.row
	.twelve.columns
		h2 Chi Siamo
		p L’Associazione professionale ACS – Actuarial Consulting Services nasce con l’intento di supportare compagnie assicurative italiane ed estere nel problem solving attuariale, in particolare in quello della Responsabilità Civile Auto e dei rami danni in generale.
		p L’Associazione è composta da un team di professionisti del mondo accademico, istituzionale ed aziendale, provenienti dall’Italia e dall’estero: l’esperienza dei nostri associati, maturata sia in ambito teorico che direttamente sul mercato, è unica ed esclusiva ed i nostri partners sono riconosciuti anche a livello internazionale nei rispettivi campi di attività.
		p Questa forte specializzazione, unita ad una profonda conoscenza del mercato, fa sì che la ACS si collochi a buon diritto tra le associazioni leader nel panorama della consulenza attuariale italiana. Il nostro scopo è quello di andare incontro a qualsiasi esigenza attuariale del Cliente ed al tempo stesso contribuire ai processi formativi del personale in tema di questioni assicurative e finanziarie.
  

include includes/footer.php
include includes/tail.php