ul.side-nav
				li 
					a(href="attuario-incaricato-attuario-revisore.php") Attuario Incaricato e Attuario Revisore
				li 
					a(href="autorizzazione-esercizio-attivita-assicurativa.php") Autorizzazione all’esercizio dell’attività assicurativa
				li 
					a(href="pricing-profit-testing.php") Pricing & Profit Testing
				li 
					a(href="riserve-tecniche.php") Riserve Tecniche
				li 
					a(href="studio-attuariale-riassicurazione.php") Riassicurazione
				li 
					a(href="ias-ifrs-valutazioni-aziende-portafogli.php") Valutazioni: Aziende e Portafogli – IAS/IFRS
				li 
					a(href="alm-asset-liability-management.php") Asset/Liability Management (ALM)